*{
    margin: 0;

    padding: 0;

}

header,

footer {

    width: 100%;

    height: 120px;

    background-color: rgb(183, 217, 233);

    color: rgb(49, 49, 49);

}

h1,

h2 {

    text-align: center;

}

img {

    display: block;

    height: 50px;

    width: 50px;

    margin-left: auto;

    margin-right: auto;

}

ul {

    padding-left: 40px;

    font-size: 20px;


}

p {

    text-align: center;
    
    font-size: 30px;

}

.card {

    width: 80%;

    margin: 40px auto;

    border: 5px solid rgb(199, 252, 225);

    box-shadow: 5px 10px #AFC4BF;
    
  }